.list {
    height: 500px;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 5px;
    };
    &::-webkit-scrollbar-track {
        background: #EAEAE4; 
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
}