.list {
    width: 350px;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #EAEAE4;
    
    &__search {
        position: relative;
        margin: 15px 20px;
        height: 40px;
    } 
    &__input {
        width: 280px;
        height: 30px;
        padding-left: 8px;
        font-size: 14px;
        background-color: white;
        border: unset;
        &::-webkit-input-placeholder {
            opacity: 0.5;
        }
    }

    &__icon, &__filter {
        width: 14px;
        position: relative;
        font-weight: 600;
        opacity: 0.5;
    }  
    &__icon {
        right: 30px;
    }

    &__filter {
        &:hover{
            cursor: pointer;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-around;
        height: 30px;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }
    &__select, &__download, &__refresh {
        width: 14px;
        opacity: 0.5;
        &:hover{
            cursor: pointer;
        }
    }

    &__select {
        vertical-align: middle;
        line-height: 30px;
    }

    &__button {
        align-self: center;
        width: 280px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        border: unset;
        background-color: #76F0AA;
        color: #4C7A5F;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
        };
    }

    &__items {
        height: 500px;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 5px;
        };
        &::-webkit-scrollbar-track {
            background: #EAEAE4; 
        }
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
    }
}