.Page {
  display: grid;
  grid-template-areas: 'list main';
  grid-template-columns: minmax(20%, 320px) auto;
  align-items: center;
  justify-items: center;
  background-color: #f1f1ec;
}

.Main {
  grid-area: main;
  grid-gap: 20px;
}

.ListWrapper {
  grid-area: list;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #ebebe5;
}
