.GridContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: 
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
}

.MainPage {
  grid-area: main;
  align-self: center;  
  color: var(--mid-gray); 
  text-align: center;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: lighter;
  &_Title {
    font-size: 2.5em; 
    font-weight: lighter;
  }
}

.Sidebar {
  overflow-y: auto;
  height: 100vh;
  grid-area: sidebar;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

.Reservation {
  background-color: var(--silver); 
  padding: 1.5em; 
  border-bottom: 0.5px solid rgba(var(--dark-gray), 0.2);
  font-size: 0.7em;
  &_GuestName {
    color: rgba(var(--dark-gray), 1);
    font-weight: bold; 
  }
  &_BookingDate {
    color: rgba(var(--dark-gray), 1);
    float: right;
  }
  &_PropertyName {
    span {
      color: rgba(var(--dark-gray), 1);
    }
  }
  &_ArrivalInfo {
    padding-top: 5px; 
    span {
      color: rgba(var(--dark-gray), 0.5);
    }
  }
  &_Amount {
    margin-top: -5px;
    padding: 2px 10px; 
    float: right;
    border: 0.5px solid var(--mid-gray);
    border-radius: 20px;
  }
}

.Reservation:hover {
  background-color: var(--light-gray); 
}