.actions {
    &__select, &__download, &__refresh {
        width: 14px;
        opacity: 0.5;
        &:hover{
            cursor: pointer;
        }
    }
    &__select {
        vertical-align: middle;
        line-height: 30px;
    }
}