.ListWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 12px;

  svg {
    margin: 0 2px;
    width: 15px;
    height: 15px;
  }
}

.Filter {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #ebebe5;

  input {
    padding: 5px;
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
  }

  svg {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
}

.List {
  overflow-y: auto;
  height: 100%;
}

.ListItem {
  display: grid;
  grid-template-areas:
    'status name created'
    'replied property property'
    '. dates price';
  // grid-template-columns: 20px auto 60px;
  grid-gap: 0 10px;
  align-items: flex-end;
  padding: 20px;
  max-height: 100px;
  border-top: 1px solid #ddd;

  &:hover {
    background-color: #efefef;
  }

  &.active {
    background-color: #fff;
  }

  * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.status {
  grid-area: status;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.Booked {
    background-color: green;
  }

  &.Declined {
    background-color: red;
  }

  &.Unavailable {
    background-color: gray;
  }

  &.Tentative,
  &.Open {
    background-color: orange;
  }
}

.replied {
  grid-area: replied;
}

.name {
  grid-area: name;
  font-size: 13px;
  font-weight: 600;
  color: #444;
}

.property {
  grid-area: property;
  font-size: 13px;
  color: #444;
}

.created {
  grid-area: created;
  justify-self: flex-end;
}

.dates {
  grid-area: dates;
  display: flex;

  > span {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
  }
}

.price {
  grid-area: price;
  justify-self: flex-end;
  padding: 2px 10px;
  border: 1px solid;
  border-radius: 10px;
}

.actions {
  border-top: 1px solid #bbb;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.create {
  padding: 20px;
  border-top: 1px solid #ddd;

  button {
    padding: 15px 20px;
    width: 100%;
    font-weight: 800;
    text-transform: uppercase;
    color: #444;
    background-color: #76f0aa;
    border-color: transparent;
  }
}
