:root {
  /* global variables */
  --status-open: #efc788;
  --status-booked: #b6e378;
  --status-tentative: #efc788;
  --status-declined: #f3aaa1;
  --status-unavailable: #c0c8c5;
  --status-circle-dimensions: 10px;
  background: #f0f0ed;
  box-sizing: border-box;
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
p {
  padding: 0;
  margin: 2px 0 5px;
}

button {
  min-width: 334px;
}
