:root {
  background: #f0f0ed;
  box-sizing: border-box;
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
}

body {
  --light-gray: #eff2ed;
  --silver: #e2e1de;
  --mid-gray: #9499a0; 
  --dark-gray: 77, 80, 84;
  --light-green:#62e29e; 
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}
